.hero-counters{
	// background: rgba(255, 255, 255, 0.05);
    border-radius: 999px;
    border: 1px solid #7A695E;
    // backdrop-filter: blur(3px);
	padding:20px 60px;
	margin: 100px 0 !important;
	.stats-block {
		margin-bottom:0 !important;
	}
	.counter_prefix{
		
		color: #95684B;
	}
	.stats-block .stats-text{
		margin-top:10px;
	}
}

.btn-primary button{
	background-color: #95684B;
	border-color: #95684B;
	color: #fff;

	&:hover {
		background-color: darken(#95684B, 10%);
		border-color: darken(#95684B, 10%);
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(149, 104, 75, 0.5);
	}
}

.btn-outline button{
	background-color: transparent;
	border-color: #95684B;
	color: #95684B;

	&:hover {
		background-color: rgba(149, 104, 75, 0.1);
		border-color: #95684B;
		color: #95684B;
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(149, 104, 75, 0.5);
	}
	&.inverse{
		background-color: #fff;
		border-color: #fff;
		color: #fff;

		&:hover {
			background-color: darken(#95684B, 10%);
			border-color: darken(#95684B, 10%);
		}

		&:focus {
			box-shadow: 0 0 0 0.2rem rgba(149, 104, 75, 0.5);
		}
	}
}