.site-footer{
	background-image: url('./images/footer-optimize.webp');
	padding: 50px 0;
	color: var(--color-text-inverse);
}
.bottom-footer{
	padding: 15px 0;
	background-color: var(--color-primary-dark);
	color: var(--color-text-inverse);
	line-height: 1.5em;
	font-size: 20px;
}
.bottom-footer .widget,
.bottom-footer p{
	margin: 0;
}

.footer-widgets{
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
.footer-column .menu {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0;
	margin:0;
	list-style: none;
}
.footer-column h2.widget-title{
	font-size: 22px;;
}

.footer-column .menu a{
	display: block;
	color: var(--color-text-inverse);
	text-decoration: none;
	transition: transform 0.3s ease;
	font-size: 18px;
}
.footer-column .menu a:hover{
	// transform: translateX(10px);
	
	transform: translateX(10px);
}

.footer-column .icon-container path {
	fill:#fff
}

.footer-column .wp-block-social-link{
	background-color: transparent;
	
}
.footer-column .wp-block-social-link a{
padding:0;
}