/* Tpyography */
body, button, input, select, textarea {
	font-family: "Almarai", sans-serif;
	font-weight: 400;
	font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Almarai", sans-serif;
	font-weight: 700 !important;
	font-style: normal;
}

h1{
	font-size: 60px;
	line-height: 1.2;
}
h2{
	font-size: 45px;
	line-height: 1.2;
}

p{
	font-weight: 400;
	font-size: 18px;;
	line-height: 1.5;
}
.text-lg p{
	font-weight: 400;
	font-size: 20px;;
	line-height: 1.8em;
}
.border-heading{
	border-right: 5px solid #95684B;
	padding-right: 15px;
}