 
.btn-outline 
.btn-outline {
	button,a {
		background-color: var(--color-primary);
		color: var(--color-text-inverse);
		border: none;
		padding: 15px 55px;
		border-radius: 30px;
		cursor: pointer;
		font-size: 18px;
		font-family: var(--font-family);
		font-weight: 700;

			text-decoration: none;

			&:hover {
			background-color: darken(#95684B, 10%);
			border-color: darken(#95684B, 10%);
		}

		&:focus {
			box-shadow: 0 0 0 0.2rem rgba(149, 104, 75, 0.5);
		}
	}
}

.btn-outline 
.btn-outline {
	button,a{
		background-color: transparent;
		border-color: #95684B;
		color: #95684B;

		&:hover {
			background-color: rgba(149, 104, 75, 0.1);
			border-color: #95684B;
			color: #95684B;
		}

		&:focus {
			box-shadow: 0 0 0 0.2rem rgba(149, 104, 75, 0.5);
		}
	}
	
	&.inverse{
		background-color: #fff;
		border-color: #fff;
		color: #fff;

		&:hover {
			background-color: darken(#95684B, 10%);
			border-color: darken(#95684B, 10%);
		}

		&:focus {
			box-shadow: 0 0 0 0.2rem rgba(149, 104, 75, 0.5);
		}
	}
}