.btn-primary {
	&.ubtn-ctn-inline{

		button, a {
		background-color: var(--color-primary);
		color: var(--color-text-inverse);
		border: none;
		    padding: 16px 35px;
		border-radius: 50px;
		border:1px solid var(--color-primary);
		cursor: pointer;
		font-size: 18px;
		font-family: var(--font-family);
		font-weight: 700;

			text-decoration: none;

			&:hover {
			background-color: darken(#95684B, 10%);
			border-color: darken(#95684B, 10%);
		}

		&:focus {
			box-shadow: 0 0 0 0.2rem rgba(149, 104, 75, 0.5);
		}
	}
	}
	
}


.btn-outline {
	&.ubtn-ctn-inline{
		button, a{
		background-color: transparent;
		border-color: #95684B;
		color: #95684B;
		padding: 16px 35px;
		border:1px solid #F4F4F4;

		&:hover {
			background-color: rgba(149, 104, 75, 0.1);
			border-color: #95684B;
			color: #95684B;
		}

		&:focus {
			box-shadow: 0 0 0 0.2rem rgba(149, 104, 75, 0.5);
		}
	}
	
	&.inverse{
		background-color: transparent;
		border:1px solid #F4F4F4;
		border-color: #fff;
		color: #fff;
		border-radius: 50px !important;
		

		&:hover {
			background-color: darken(#95684B, 10%);
			border-color: darken(#95684B, 10%);
		}

		&:focus {
			box-shadow: 0 0 0 0.2rem rgba(149, 104, 75, 0.5);
		}
	}	
	}
	
}

.card{
	background: #fff;
	border-radius: 28px;
	box-shadow: 0 20px 24px rgba(0, 0, 0, 0.04);
	padding: 25px;
	transition: all 0.3s ease;
	box-sizing: border-box;

	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 30px 35px rgba(0, 0, 0, 0.08);
	}
}


.vc_btn3.vc_btn3-size-lg{
	font-size: 18px !important;
	padding: 18px 35px !important;
}

.vc_do_btn .vc_btn3.vc_btn3-color-grey.vc_btn3-style-outline,
.vc_do_btn .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat {
 
  position: relative;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
  overflow: hidden;
  &::before,
  &::after {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100px) skewX(-15deg);
    content: "";
  }
  &::before {
    width: 60px;
    background: rgba(255, 255, 255, 0.5);
    filter: blur(30px);
    opacity: 0.5;
  }
  &::after {
    width: 30px;
    left: 30px;
    background: rgba(255, 255, 255, 0.2);
    filter: blur(5px);
  }
  &:hover {
    background-color: var(--color-primary-800);
    border-color: var(--color-primary-800);
	color: #fff;
    &::before {
      opacity: 1;
    }
    &::before,
    &::after {
      transform: translateX(300px) skewX(-15deg);
      transition: all 0.9s ease;
    }
  }
}
 
.vc_do_btn .vc_btn3.vc_btn3-color-grey.vc_btn3-style-outline {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);;
   
}
 
.vc_btn3-inline{
	margin-right: 20px;
}
.rtl .vc_btn3-inline{
	margin-left: 20px;
}