@use 'parts/frontend/variables';
@use 'parts/frontend/reset';
@use 'parts/frontend/typography';
@use 'parts/frontend/layout';
@use 'parts/frontend/header';
@use 'parts/frontend/language-switcher';
@use 'parts/frontend/swiper';
@use 'parts/frontend/swiper-rtl.scss';
@use 'parts/frontend/liwa-flex';
@use 'parts/frontend/iconfont';
@use 'parts/frontend/ui';
@use 'parts/frontend/tilt-image';
@use 'parts/frontend/tabs';
@use 'parts/frontend/footer';
@use 'parts/frontend/shop';
@use 'parts/frontend/breadcrump';
@use 'parts/frontend/page';
@use 'parts/frontend/custom';


.border-heading{
	border-right: 0px solid #95684b;
	border-left: 5px solid #95684b;
    padding-right: 0;
    padding-left: 15px;
	text-align: left !important;
}

.rtl {
	.top-icon .aio-icon-description,
	.top-icon .aio-icon-header{
		text-align: right;
	}
}
